/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

:root {
  --primary-color: #3A98B9;
  --secondary-color: #F8CBA6;
  --error-color: #F32013;
  --grey-dark: #555;
  --grey: #999;
  --grey-light: #ccc;
  --white: #fff;
  --black: #000;

  --border-radius: 8px;
  --global-border: 1px solid var(--grey-light);

  --screen-sm: 800px;
  --screen-md: 1200px;
  --screen-lg: 1600px;

  --space-xs: .25rem;
  --space-sm: .5rem;
  --space: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;

  --transition: 200ms ease-in-out all;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
}

.container {
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}


.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.font-bold {
  font-weight: bold;
}

.text-sm {
  font-size: 14px;
}

.text-lg {
  font-size: 18px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--grey-dark);
}

.card {
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.card .card-body {
  padding: var(--space-sm);
}

.card .card-header {
  padding: var(--space-sm);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: bold;
}

.error :not(label) {
  color: var(--error-color);
}

.error :is(input, select) {
  color: inherit;
  border: 1px solid var(--error-color);
}

input, select {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  padding: .5rem .25rem;
  border: var(--global-border);
  border-radius: var(--border-radius);
}

input:focus, select:focus {
  border: 1px solid var(--primary-color);
}



